.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background: #e6ecf0;
}

#headerRow {
  background-color: #fff;
}

.headerBox {
  text-align: center;
  padding-top: 25px;
}

.headerBox h1 {
  display: inline-block;
  vertical-align: middle;
}

.loader {
  border: 16px solid #aeacac;
  border-top: 16px solid #222121;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.headerBox img {
  height: 55px;
  width: auto;
  margin-left: 2px;
}

.submissionBox {
  text-align: center;
  margin-top: 15px;
}

#streamSearchInput {
  height: 37px;
  vertical-align: middle;
}

.submissionBox button {
  margin-left: 5px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 15px 7.5px 0;
  border-color: transparent black transparent transparent;
  display: inline-block;
  vertical-align: middle;
}

.pageTracker {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  border-color: transparent transparent transparent black;
  display: inline-block; 
  vertical-align: middle;
}

.triangle-left:hover, .triangle-right:hover {
  cursor: pointer;
}

.triangle-left:hover {
  border-color: transparent #707070 transparent transparent;
}

.triangle-right:hover {
  border-color: transparent transparent transparent #707070;
}



#topHeader > p {
  float: left;
}

#topHeader > div {
  float: right;
}

.card-width {
  width: 500px;
  margin-left: 25px;
}

.card-width .card-title {
  margin-top: 20px;
}

.searchHelperText {
  text-align: center;
  margin-top: 10%;
}